.cards:hover .card-sedan{
  margin-right: 650px;
}

.cards:hover .card-luxury{
  margin-left: 650px;
}

.card-sedan:hover{
  box-shadow: 0px 11px 28px -6px #000000;
}

.card-suv:hover{
  box-shadow: 0px 11px 28px -6px #000000;
}

.card-luxury:hover{
  box-shadow: 0px 11px 28px -6px #000000;
}